@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "AgeoBold";
  src: url("/fonts/AgeoPersonalUse-Bold.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

/* Default body font */
body {
  margin: 0;
  padding: 0;
  font-family: "Arial", sans-serif;
  font-size: 18px;
  line-height: 1.5;
}

/* Bold headings using Ageo */
h1,
h2 {
  font-family: "AgeoBold", sans-serif;
  font-size: 20px;
  font-weight: normal;
  line-height: 1.1;
}
